<!doctype html>
<html ng-app="phoneApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel = "icon" type = "image/png" href = "./favicon.png" >
    <title>PhonesApp Gallery - AngularJS</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    
  </head>
  <body ng-controller="PhoneListController" class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand"  ng-href="#/phones">
            <img src="./favicon.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top"/>
            PhonesApp
          </a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" ng-href="#/phones">Home</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input ng-model="query" class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
              <select id="inputState" class="form-select me-3" ng-model="orderProp">
              <option value="name">Alphabetical</option>
              <option value="age">Newest</option>
              <option value="-age">Oldest</option>
              </select>
            </form>
          </div>
        </div>
      </nav>
  
      <div class="container my-5" ng-view>
      </div>
      
    <!--Note that files defining a module (i.e. .module.js) need to be included before other files that add features-->
    <script src="js/app.module.js"></script>
    <script src="js/app.config.js"></script>
    <!-- Modulo para phone list -->
    <script src="js/phone-list/phone-list.module.js"></script>
    <script src="js/phone-list/controllers/phone-list.controller.js"></script>
    <script src="js/phone-list/components/phone-list.component.js"></script>
    <script src="js/phone-detail/phone-detail.module.js"></script>
    <script src="js/phone-detail/components/phone-detail.component.js"></script>
    <script src="js/phone-detail/controllers/phone-detail.controller.js"></script>
    <script src="js/core/core.module.js"></script>
    <script src="js/core/checkmark/checkmark.filter.js"></script>
    <script src="js/core/phone/phone.module.js"></script>
    <script src="js/core/phone/phone.service.js"></script>
  </body>
</html>
